<div class="card card-outline card-primary">
    <div class="card-header text-center">
        <img class="logo-login mr-3" src="assets/img/Cencosud_logo.png">
        <a [routerLink]="['/']" class="logo-title h1"><b>Gastos</b>Web</a>
    </div>
    <div class="card-body">
        <p class="login-box-msg">
            Aquí puede recuperar fácilmente una nueva
            contraseña
        </p>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
            <div class="input-group mb-3">
                <input
                    formControlName="email"
                    type="email"
                    class="form-control"
                    placeholder="Email"
                    pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-zA-Z]{2,4}"
                />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <app-button [type]="'submit'" [block]="true" [disabled]="forgotPasswordForm.invalid">
                        Nueva contraseña
                    </app-button>
                </div>
            </div>
        </form>
        <p class="mt-3 mb-1">
            <a [routerLink]="['/login']">Login</a>
        </p>
    </div>
</div>
