<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{{title}}</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/']"
                    >Home</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/estimate']"
                        routerLinkActive="router-link-active">Presupuestos</a></li>
                    <li class="breadcrumb-item active">{{subtitle}}</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <form #newEstimate="ngForm" (ngSubmit)="onSubmit(newEstimate)">
                <div class="card-header">
                    <h3 class="card-title">{{subtitle}}</h3>
                </div>
                <div class="card-body">
                    
                        <div class="row mb-3">
                            <div class="col-md">
                                <div class="input-group">
                                    <span class="input-group-text"><b>CECO</b></span>
                                    <select class="form-select" name="ceco_id" id="role" #ceco_id="ngModel"
                                    [(ngModel)]="estimate.ceco_id" disabled>
                                        <option *ngFor="let ceco of cecos" [value]=ceco.id>{{ ceco.centrocosto }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md">
                                <div class="input-group">
                                    <input type="date" name="fechainicio" id="fechainicio" #fechainicio="ngModel"
                                    [(ngModel)]="estimate.fechainicio" class="form-control" required
                                    placeholder="Fecha Inicio"  data-toggle="tooltip" title='Fecha Inicio'>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-calendar-alt"></span>&nbsp; <b>Inicio</b>
                                        </div>
                                    </div>
                                    <small *ngIf="!fechainicio.valid && fechainicio.touched" class="invalid-feedback d-block">
                                        Fecha Inicio es requerido
                                    </small>
                                </div>
                            </div> 

                            <div class="col-md">
                                <div class="input-group">
                                    <input type="date" name="fechafin" id="fechafin" #fechafin="ngModel"
                                    [(ngModel)]="estimate.fechafin" class="form-control" required
                                    placeholder="Fecha Final"  data-toggle="tooltip" title='Fecha Final'>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-calendar-alt"></span>&nbsp; <b>Fin</b>
                                        </div>
                                    </div>
                                    <small *ngIf="!fechafin.valid && fechafin.touched" class="invalid-feedback d-block">
                                        Fecha Final es requerido
                                    </small>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="row mb-3">
                            <div class="col-md">
                                <label class="montos" for="montoctacorriente">Monto Cta. Corriente</label>
                                <div class="input-group">
                                    <input type="text" name="montoctacorriente" id="montoctacorriente" #montoctacorriente="ngModel"
                                    [(ngModel)]="estimate.montoctacorriente" class="form-control"
                                    mask="separator.2" thousandSeparator="," prefix="$"
                                    placeholder="Monto Cta. Corriente" data-toggle="tooltip" title='Monto Cta. Corriente'>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-money-bill"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md">
                                <label class="montos" for="montolineacredito">Monto Linea Credito</label>
                                <div class="input-group">
                                    <input type="text" name="montolineacredito" id="montolineacredito" #montolineacredito="ngModel"
                                    [(ngModel)]="estimate.montolineacredito" class="form-control"
                                    mask="separator.2" thousandSeparator="," prefix="$"
                                    placeholder="Monto Linea Credito" data-toggle="tooltip" title='Monto Linea Credito'>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-money-bill"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md">
                                <label class="montos" for="montotrjcredito">Monto Trj. Credito</label>
                                <div class="input-group">
                                    <input type="text" name="montotrjcredito" id="montotrjcredito" #montotrjcredito="ngModel"
                                    [(ngModel)]="estimate.montotrjcredito" class="form-control"
                                    mask="separator.2" thousandSeparator="," prefix="$"
                                    placeholder="Monto Trj Credito" data-toggle="tooltip" title='Monto Trj. Credito'>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-money-bill"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <div class="row mb-3 consw">
                            <div class="col-md">
                                <!-- <label class="montos" for="montototal">Monto Total</label> -->
                                <div class="input-group">
                                    <input type="text" name="montototal" id="montototal" #montototal="ngModel"
                                    [(ngModel)]="estimate.montototal" class="form-control"
                                    mask="separator.2" thousandSeparator="," prefix="$"
                                    placeholder="Monto Total" data-toggle="tooltip" title='Monto Total'>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-money-bill"></span>&nbsp; <b>Monto</b>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md">
                                <div class="input-group">
                                    <span class="input-group-text"><b>Tipo Gasto</b></span>
                                    <select class="form-select" name="tipogastogen" id="role" #tipogastogen="ngModel"
                                    [(ngModel)]="estimate.tipogastogen">
                                        <option *ngFor="let tipogasto of tipogastos" [value]=tipogasto.id>{{ tipogasto.nombre }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md">
                                <div class="input-group">
                                    <span class="input-group-text"><b>Moneda</b></span>
                                    <select class="form-select" name="trxcurrency_id" id="role" #trxcurrency_id="ngModel"
                                    [(ngModel)]="estimate.trxcurrency_id">
                                        <option *ngFor="let moneda of monedas" [value]=moneda.id>{{ moneda.simbolo }}</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="row mb-3 consw">

                            <div class="col-md">
                                <div class="form-check form-switch text-center">
                                    <input class="form-check-input" type="checkbox" id="status" name="status" #status="ngModel" 
                                    [(ngModel)]="estimate.status">
                                    <label class="form-check-label" for="status">Estatus</label>
                                </div>
                            </div>

                        </div>
                    
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <div class="float-end">
                        <a [routerLink]="['/estimate']" class="btn btn-danger btn-sm me-2">Cancelar</a>
                        <!-- <input type="submit" *ngIf="is_edit == false" value="Guardar" class="btn btn-success btn-sm" 
                        [disabled]="cajaForm.invalid"> -->
                        <input type="submit" value="Guardar" class="btn btn-success btn-sm" 
                        [disabled]="newEstimate.invalid">
                    </div>
                </div>
                <!-- /.card-footer-->
            </form>
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->

