<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{{title}}</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/']"
                    >Home</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/subcategory2']"
                        routerLinkActive="router-link-active">SubCategoria</a></li>
                    <li class="breadcrumb-item active">{{subtitle}}</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <form #newSubcategory2="ngForm" (ngSubmit)="onSubmit(newSubcategory2)">
                <div class="card-header">
                    <h3 class="card-title">{{subtitle}}</h3>
                </div>
                <div class="card-body">
                        <div class="row mb-3 consw">
                            <div class="col-md">
                                <div class="input-group">
                                    <input type="text" name="nombre" id="nombre" #nombre="ngModel"
                                    [(ngModel)]="subcategory2.nombre" class="form-control" required
                                    placeholder="Nombre SubCategoria2"  data-toggle="tooltip" title='Nombre SubCategoria2'>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-tag"></span>
                                        </div>
                                    </div>
                                    <small *ngIf="!nombre.valid && nombre.touched" class="invalid-feedback d-block">
                                        Nombre SubCategoria2 es requerido
                                    </small>
                                </div>
                            </div>

                            <div class="col-md">
                                <div class="input-group">
                                    <span class="input-group-text"><b>SubCategoria</b></span>
                                    <select class="form-select" name="subcategoria_id" id="subcategoria_id" #subcategoria_id="ngModel"
                                    [(ngModel)]="subcategory2.subcategoria_id">
                                        <option *ngFor="let subcategory of subcategories" [value]=subcategory.id>{{ subcategory.nombre }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md">
                                <div class="form-check form-switch text-center">
                                    <input class="form-check-input" type="checkbox" id="status" name="status" #status="ngModel" 
                                    [(ngModel)]="subcategory2.status">
                                    <label class="form-check-label" for="status">Estatus</label>
                                </div>
                            </div>

                        </div>

                        <div class="row mb-3 consw">

                            <div class="col-md">
                                <div class="input-group">
                                    <input type="text" name="jerarquiacat" id="jerarquiacat" 
                                    #jerarquiacat="ngModel"
                                    [(ngModel)]="subcategory2.jerarquiacat" class="form-control" 
                                    placeholder="Jerarquiacat" data-toggle="tooltip" title='Jerarquiacat'>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-sitemap"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md">
                                <div class="input-group">
                                    <input type="text" name="jerarquiasubcat" id="jerarquiasubcat" 
                                    #jerarquiasubcat="ngModel"
                                    [(ngModel)]="subcategory2.jerarquiasubcat" class="form-control" 
                                    placeholder="Jerarquiasubcat" data-toggle="tooltip" title='Jerarquiasubcat'>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-sitemap"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md">
                                <div class="input-group">
                                    <input type="text" name="jerarquiasubcat2" id="jerarquiasubcat2" 
                                    #jerarquiasubcat2="ngModel"
                                    [(ngModel)]="subcategory2.jerarquiasubcat2" class="form-control" 
                                    placeholder="Jerarquiasubcat2" data-toggle="tooltip" title='Jerarquiasubcat2'>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-sitemap"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <div class="float-end">
                        <a [routerLink]="['/subcategory2']" class="btn btn-danger btn-sm me-2">Cancelar</a>
                        <!-- <input type="submit" *ngIf="is_edit == false" value="Guardar" class="btn btn-success btn-sm" 
                        [disabled]="cajaForm.invalid"> -->
                        <input type="submit" value="Guardar" class="btn btn-success btn-sm" 
                        [disabled]="newSubcategory2.invalid">
                    </div>
                </div>
                <!-- /.card-footer-->
            </form>
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->





