<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <!-- <h1 class="m-0 badge badge-pill badge-primary">CECO: {{ cecoName }}</h1> -->
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/']"
                    >Home</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/projects']"
                        routerLinkActive="router-link-active">Proyecto</a></li>
                    <li class="breadcrumb-item active">{{subtitle}}</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <form #newProject="ngForm" (ngSubmit)="onSubmit(newProject)">
                <div class="card-header">
                    <h3 class="card-title">{{subtitle}}</h3>
                </div>
                <div class="card-body">
                        <div class="row mb-3 consw">
                            <div class="col-md">
                                <div class="input-group">
                                    <input type="text" name="nombre" id="nombre" #nombre="ngModel"
                                    [(ngModel)]="project.nombre" class="form-control" required
                                    placeholder="Nombre Proyecto"  data-toggle="tooltip" title='Nombre Proyecto'>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-tag"></span>
                                        </div>
                                    </div>
                                    <small *ngIf="!nombre.valid && nombre.touched" class="invalid-feedback d-block">
                                        Nombre Proyecto es requerido
                                    </small>
                                </div>
                            </div>

                            <div class="col-md">
                                <div class="input-group">
                                    <input type="date" name="fechainicio" id="fechainicio" #fechainicio="ngModel"
                                    [(ngModel)]="project.fechainicio" class="form-control" required
                                    placeholder="Fecha Inicio"  data-toggle="tooltip" title='Fecha Inicio'>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-calendar-alt"></span>&nbsp; <b>Inicio</b>
                                        </div>
                                    </div>
                                    <small *ngIf="!fechainicio.valid && fechainicio.touched" class="invalid-feedback d-block">
                                        Fecha Inicio es requerido
                                    </small>
                                </div>
                            </div>

                            <div class="col-md">
                                <div class="input-group">
                                    <input type="date" name="fechafin" id="fechafin" #fechafin="ngModel"
                                    [(ngModel)]="project.fechafin" class="form-control" required
                                    placeholder="Fecha Final"  data-toggle="tooltip" title='Fecha Final'>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-calendar-alt"></span>&nbsp; <b>Fin</b>
                                        </div>
                                    </div>
                                    <small *ngIf="!fechafin.valid && fechafin.touched" class="invalid-feedback d-block">
                                        Fecha Final es requerido
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3 consw">

                            <div class="col-md">
                                <div class="input-group">
                                    <input type="text" name="monto" id="monto" #monto="ngModel"
                                    [(ngModel)]="project.monto" class="form-control"
                                    mask="separator.2" thousandSeparator="," prefix="$"
                                    placeholder="Monto" data-toggle="tooltip" title='Monto'>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-money-bill"></span>&nbsp; <b>Monto</b>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md" *ngIf="is_edit == true">
                                <div class="input-group">
                                    <input type="text" name="expense" id="expense"
                                    class="form-control" mask="separator.2"
                                    thousandSeparator="," prefix="$" value={{expense}} disabled>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-money-bill"></span>&nbsp; <b>Pagado</b>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md">
                                <div class="input-group">
                                    <span class="input-group-text"><b>Proveedor</b></span>
                                    <select class="form-select" name="proveedor_id" id="role" #proveedor_id="ngModel"
                                    [(ngModel)]="project.proveedor_id">
                                        <option value="0">Elegir Proveedor...</option>
                                        <option *ngFor="let provider of providers" [value]=provider.id>{{ provider.nombre }}</option>
                                    </select>
                                    <button (click)="newProveedor($event)" class="btn btn-success"><b>+</b></button>
                                </div>
                            </div>

                            <div class="col-md">
                                <div class="input-group">
                                    <span class="input-group-text"><b>CECO</b></span>
                                    <select class="form-select" name="ceco_id" id="role" #ceco_id="ngModel"
                                    [(ngModel)]="project.ceco_id" disabled>
                                        <option *ngFor="let ceco of cecos" [value]=ceco.id>{{ ceco.centrocosto }}</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="row mb-3 consw">

                            <div class="col-md">
                                <div class="form-check form-switch text-center">
                                    <input class="form-check-input" type="checkbox" id="status" name="status" #status="ngModel"
                                    [(ngModel)]="project.status">
                                    <label class="form-check-label" for="status">Estatus</label>
                                </div>
                            </div>

                        </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <div class="float-end">
                        <a [routerLink]="['/projects']" class="btn btn-danger btn-sm me-2">Cancelar</a>
                        <!-- <input type="submit" *ngIf="is_edit == false" value="Guardar" class="btn btn-success btn-sm"
                        [disabled]="cajaForm.invalid"> -->
                        <input type="submit" value="Guardar" class="btn btn-success btn-sm"
                        [disabled]="newProject.invalid">
                    </div>
                </div>
                <!-- /.card-footer-->
            </form>
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->





