.img-avatar {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 35px;
    height: 35px;
    object-fit: cover;
}

table.dataTable {
    font-size: 0.90rem !important;
}