:host {
    display: block;
}

.content-wrapper > *:first-child {
    display: block;
}

.main-sidebar {
    background: rgb(170,168,204);
    background: linear-gradient(0deg, rgba(57,47,223,1) 0%, rgba(26,40,158,1) 45%, rgba(19,1,80,1) 100%);
}

.main-footer {
    background-color: #372FDB;
    color: white;
}

#cecox {
  margin-top: 15px;
  font-size: 26px;
  float: left;
}

#cecox2 {
  margin-left: -15px;
  margin-top: 15px;
  font-size: 26px;
  float: left;
}

.band {
  position: absolute;
  display: flex !important;
  float: left;
  margin-top: -5px;
  margin-bottom: 5px;
}

/* @media (max-width: 750px){
  .band {
    display: block;
    //float: none;
    //position: relative;
  }
} */

@media (max-width: 570px){
  #cecox {
    font-size: 16px;
  }

  #cecox2 {
    font-size: 16px;
  }
}
