<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{{title}}</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/']"
                    routerLinkActive="router-link-active">Home</a></li>
                    <li class="breadcrumb-item active">{{title}}</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Categorias</h3>

                <div class="card-tools">
                    <!-- <button
                        type="button"
                        class="btn btn-primary btn-sm"
                        data-widget="remove"
                        data-toggle="tooltip"
                        title="Nuevo"
                    >
                        <i class="fa fa-plus"></i>
                    </button> -->
                    <a [routerLink]="['/admin/category/new']" class="btn btn-primary btn-sm" data-widget="nuevo" data-toggle="tooltip" title='Nuevo'>
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions"
                id="categoria" class="table table-bordered table-striped categoria">
                    <thead>
                        <tr>
                            <!-- <th>ID</th> -->
                            <th>Nombre</th>
                            <th>Cta. Contable</th>
                            <th>Estatus</th>
                            <th class="notexport nosort">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let category of categories">
                            <!-- <td>{{ category.id }}</td> -->
                            <td>{{ category.nombre }}</td>
                            <td>{{ category.unidadnegocio }}</td>
                            <td *ngIf="category.status == 1"><span class="badge badge-success">Activo</span></td>
                            <td *ngIf="category.status == 0"><span class="badge badge-danger">Inactivo</span></td>
                            <td>
                                <a [routerLink]="['/admin/category/edit/' + category.id]" class="btn btn-primary btn-sm mr-1"
                                title="Editar"><i class="fa fa-pen"></i></a>

                                <button type="button" class="btn btn-sm btn-danger"
                                data-bs-toggle="modal" [attr.data-bs-target] = "'#modal'+category.id">
                                <i class="fa fa-trash"></i>
                                </button>

                                <!-- /* Modal */ -->
                                <div class="modal fade" id="{{'modal' + category.id}}" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title">Atencion</h5>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                          <p>¿Estas seguro de Borrar la Categoria "{{ category.nombre }}"?</p>
                                        </div>
                                        <div class="modal-footer">
                                          <a (click)="deleteCategory(category.id)" class="btn btn-danger" data-bs-dismiss="modal">Borrar</a>
                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Cancelar
                                          </button>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                <!--/* Final Modal */-->


                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">

            </div>
            <!-- /.card-footer-->
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->




