.custom-file-input ~ .custom-file-label::after {
    content: "Explorar";
}

.file-input {
    display: none;
}

.file-upload .btn-circle {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.img-avatar {
    display: block;
    margin: 0px auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.img-bill {
    display: block;
    margin: 0px auto;
    width: 150px;
    height: 200px;
    object-fit: contain;
}

.resumen {
    box-shadow: 1px 1px 5px #444;
}

.input-group-text {
  width: 90px;
  justify-content: center;
}

@media (max-width: 768px) {
  .input-group {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .file-upload {
    margin-top: 10px;
  }
}
